html, body {
    height: 100%
    width:100%;
}
body            { font-family: sans-serif; font-size:22;}




g.mpld3-xaxis, g.mpld3-yaxis {
display: none;
}

.flex-container {
        display: flex;
        justify-content:space-around;
        height:100%;
        flex-wrap:wrap;

}

.horizontal {
    flex-direction:row;
    align-items:center;
                  }

.vertical {
    flex-direction:column;
    align-items:center;
    background-color: #ddd;
    border-radius:50px;


}




div#container {
    width: 80%;
    float:left;
    background-color: #ccc;
    border-radius: 50px;

}



input {
  font-weight: bold;
  margin:0;
  width:30px;
}
  


.error { background: #f0d6d6; padding: 0.1em; }
.clear { clear: both; }